.main-footer{
    color:white;
    background-color:#05386B;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width:100%;
    padding-left: 40%;
    justify-content: center;
    align-items: center;

}